root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[**.{md,adoc}]
indent_style = space
trim_trailing_whitespace = unset
insert_final_newline = unset

# Ignore paths
[/webserver/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[platformio.ini]
indent_style = tab

