/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/

/*----------------------------------------------
    Theme  STYLES    
------------------------------------------------*/
:root {
    --background-colour: #1F1F1F;
    --panel-colour: #FAF8F3;
    --text-color: #000;
    --btn-theme-img: url('../img/uiui-light.png');
    --theme-btn-colour: #413e3e;
  }

[data-theme="dark"] {
    --background-colour: #1F1F1F;
    --panel-colour: #1b1b1b;
    --font-colour: #FAF8F3;
    --btn-theme-img: url('../img/uiui-dark.png');
    --theme-btn-colour: #FAF8F3;
  }

/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--background-colour);
}

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #6a6464;
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding: 15px 30px;
    min-height:1200px;
}
.header .container-fluid{
padding:0;
}
.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: rgba(173, 162, 162, 0.788);
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.navbar-side {
    z-index: 0; 
}
.panel{
border-radius:20px;
background-color: var(--panel-colour);

}

.btn-switch-theme {
    /* position: relative; */
    float: right;
    position: relative;
    
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    /* color: #337AB7; */
    border-radius: 10px;
    background-image: var(--btn-theme-img);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    background-color: var(--theme-btn-colour);
    /* background-color:#337AB7; */
    border-color:transparent;
}


.top-navbar{
position: relative;
  width: 10%;
  z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
/* .navbar-side {
  z-index: 1;
  position: fixed;
  width: 260px;
  top: 80px;
} */
#page-wrapper {
  position: relative;
  top: 55px;
  box-shadow: 0 0 10px #757575;
  -moz-box-shadow: 0 0 10px #757575;
  -webkit-box-shadow: 0 0 10px #757575;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #2497BA;
color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #eb682c;
border-color: #eb682c;
}
.breadcrumb {
padding: 12px 10px 12px 20px;
margin-bottom: 20px;
list-style: none;

border-radius: 0;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.text-muted {
  color: #FB5651;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 4px 7px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #24C2CE;
  border-radius: 10px;
}
/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
    padding-bottom: 9px;
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;background-color: #fff;
    padding: 32px 22px 32px 15px;
}

#main-panel {
    border-color: #337AB7;
    border-width: 2px;
}
.panel-left {  
    width: 100px;
    height: 100px;
    background: #eb682c;
    border: 2px solid #4590DA;
    /* border-radius: 100%; */
    overflow: hidden;
    margin: 12px;
}
.panel-left .fa-5x {
font-size: 3em;
color: rgba(255, 255, 255, 0.69);
padding: 29px 0;
margin-bottom:30px;
}
.panel-right{  
height: 124px;
background: transparent;
margin-bottom: 0;
color: #ffffffc8;

float: left;text-align: left;padding-left: 20px;font-size: 16px;text-shadow: none;font-weight: 100;}
.panel-right h3{  
font-size: 40px;
padding: 18px 10px 13px 0;
color: #FFFFFF;
}
.panel-back {
    background-color:#fff;

}
.panel-default {
  border-color: #ECECEC;
}
.panel-default > .panel-heading {
color: #FFF;
border-color: #FFF;
font-weight:bold;
background: #eb682c;
font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.jumbotron{
padding:20px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}
.jumbotron, .well{
background:#fff;
}
   .noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.panel-primary{
display:inline-block;
margin-bottom: 30px;
width:100%;
}
.green {
/* background-color: #1CC09F; */
color: #fff;
}
 .blue {
background-color: #eb682c;
color: #fff
}
  .red {
background-color: #FB6E51;
color:#fff;
}
  .brown {
background-color: #F5B252;
color:#fff;
} 
 .back-footer-red {
background-color: #F0433D;
color:#fff;
border-top: 0px solid #fff;
}
 
 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color:#2EA7EB;
    color:#fff;
}

.back-dash p {
    padding-top:16px;
    font-size:13px;
    color:#fff;
    line-height:25px;
    text-align:justify;
}

.color-bottom-txt {
color: #000;
font-size: 16px;
line-height: 30px;
}
/*CHAT PANEL*/
/*Charts*/

#piechart-label {
    color: #337AB7;
}
.easypiechart-panel {
    border-radius: 20px;
    border-style: outset;
	text-align: center;
	padding: 0px 0px;
	margin-bottom: 0px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percentTemp {
	display: inline-block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

.easypiechart .percentPressure {
	display: inline-block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

.easypiechart .percentFlow {
	display: inline-block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

.easypiechart .percentWeight {
	display: inline-block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}
.panel-default {
	position: relative;
}

.tab-content {  
    position: relative;
    top: 0px;
}

ul.nav.nav-tabs {
    /* background-color: #292929; */
    position: relative;
    width: max-content;
    top: 0px;
}

a.navbar-brand {
    padding-left: 10px;
    /* background-color: #2c2c2c; */
    border-radius: 10px;
    /* border-style: outset; */
    font-style: inherit;

}

#easypiechart-press .percentPressure { color: #6296C5;}
#easypiechart-flow .percentFlow { color: #844B48;}
#easypiechart-weight .percentWeight { color: #ffb53e;}
#easypiechart-temp .percentTemp { color: #ef4040;}

	 
#img {
    position: relative;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
    border-radius: 30px;
}
#uiui-strong {
    position: relative;
    bottom: 20px;
}

.tab {
    width: 100px;
    position: relative;
    text-align: center;
}

.header {
    padding: 20px 0px;
}

 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #696969;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
footer p{
font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/

.form-group {
    color: var(--font-colour);
    font-size: medium;
}

.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color: #FFFFFF;
	background:transparent;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding: 12px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
ul.nav.nav-second-level.collapse.in {
background: #000000;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	 
	outline:0;
}
 
.navbar-side {
	border:none;
	background: #1F1F1F;
}
.top-navbar {
	background: #eb682c;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover { 
color: #FFFFFF;

background-color: rgb(43, 46, 51);
}
.dropdown-user li {
margin: 8px 0;
}
.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #283643;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
    color: rgba(255, 255, 255, 0.76);
}
.dropdown-menu>li>a>strong {
  color: #eb682c;
  padding: 5px 0;
  display: inline-block;
  font-weight: 500;
}
#sideNav{
    position: absolute;
    right: -12px;
    z-index: 3;
    /* padding: 3px 9px; */
    top: 117px;
    color: #1F1F1F;
    cursor:pointer;
    border-radius: 0;
    width: 14px;
    font-size: 48px;
    line-height: 0;
}
ul.dropdown-menu.dropdown-messages li a div {
  padding: 2px 0;
}


#liveSystemDataChart {
    /* background-color: #ebebeb; */
    border-radius: 20px;
}
/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
               padding: 0;
               min-height: 1200px;
    }
	
	
    .navbar-side {
        width: 260px;
        z-index: 1;
    }

   .navbar {
 border-radius: 0px; 
}
   
}
 @media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
.panel-left {
  width: 85px;
  height: 85px; 
  border-radius: 100%;
  overflow: hidden;
  margin: 14px;
}
}


