@media (prefers-reduced-motion: no-preference) {
    .Loader {
        animation: Loader-spin infinite 2s linear;
    }
}

@keyframes Loader-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}